<!DOCTYPE html>
<html ng-app="example">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Client example using AngularJS</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
  </head>
  <body>
    <div>
      <div ng-controller="TaskCtrl" class="row">
        <h1>Client example using AngularJS</h1>
        <div class="columns large-4">
          <label>Method</label>
          <input type="text" ng-model="method">
          <label>Input (JSON)</label>
          <textarea ng-model="input">
          </textarea>
          <button class="small.button" ng-click="submit(method, input)">Submit new task</button>
        </div>
        <div class="columns large-offset-1 large-7">
          <h5>progress</h5>
          <div class="progress large-6">
            <span class="meter" ng-style="{width: (status.progress || 0) + '%'}"></span>
          </div>
        </div>
        <hr>
        <div class="columns" ng-show="status">
          <h2 class="subheader">Status</h2>
          <div class="panel"><pre>{{status | json}}</pre></div>
        </div>
        <div class="columns" ng-show="results">
          <h2 class="subheader">Results</h2>
          <div class="panel"><pre>{{results | json}}</pre></div>
        </div>
        <div class="columns" ng-show="error">
          <h2 class="subheader">Error</h2>
          <div class="panel"><pre>{{error | json}}</pre></div>
        </div>
      </div>
      <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
      <script src="//autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
      <script src="js/patavi.js"></script>
      <script src="js/app.js"></script>
    </div>
  </body>
</html>
