<div>
  <div class="modal-header">
    <h3>Add Study</h3>
  </div>
  <form ng-submit="close(result)">
    <div class="modal-body">
      <input type="text" ng-model="result.id" required="required">
      <h4>Treatments</h4>
      <div ng-repeat="treatment in treatments">
        <label class="checkbox inline">
          <input type="checkbox" ng-model="result.treatments[treatment.id]">
          {{treatment.id}}
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button ng-click="close()" class="btn btn-warning" >Close</button>
      <button type="submit" class="btn btn-primary" >Add Study</button>
    </div>
  </form>
</div>

