<tabs>
<pane ng-repeat="pane in analyses" heading="{{pane.title}}" active="pane.active">
<div class="control-group">
  <label class="control-label" for="inputName">Name</label>
  <div class="controls">
    <input type="text" id="inputName" ng-model="pane.title">
  </div>
</div>
  <analysis analysis="pane.content"></analysis>
</pane>

<pane heading="New analysis">
<div class="row">
  <div class="span4 offset1">
    <h4>Or</h4>
    <hr>
    <button type="submit" class="btn" ng-click="addEmpty()">Create new dataset</button>
  </div>  
  <div class="span4">
    <h4>Upload a GeMTC file</h4>
    <hr>
    <form enctype="multipart/form-data" async="/api/analysis/consistency" class="span3" ng-model="analyses">
      <fieldset>
        <input name="network[file]" type="file">
        <br><br>
        <button type="submit" class="btn btn-primary">Upload</button>
      </fieldset> 
    </form>
  </div>


</div>
</pane>
</tabs>
