<div>
  <pre>{{ analysis | json }}</pre>
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description</label>
    <div class="controls">
      <input type="text" id="inputDescription" placeholder="Short description" ng-model="analysis.description">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputType">Type</label>
    <div class="controls">
      <select ng-model="analysis.type">
        <option value="dichotomous" selected="selected">Dichotomous</option>
        <option value="continuous">Continuous</option>
        <option value="none">None</option>
      </select>
    </div>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Id</td>
        <td ng-show="analysis.type == 'continuous'">Mean</td>
        <td ng-show="analysis.type == 'continuous'">Std.Dev</td>
        <td ng-show="analysis.type == 'dichotomous'">Responders</td>
        <td ng-show="analysis.type != 'none' && analysis.type">Sample Size</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody>
    <div ng-repeat="(study, measurements) in (analysis.data | groupUs:'study')">
      {{study}}
      {{measurements}}
    </div>
    </tbody>
  </table>

  <div ng-controller="AddStudyCtrl">
    <button class="btn" ng-click="open()">Add study</button>

    <div modal="shouldBeOpen" close="close()">
      <form ng-submit="addStudy(analysis)">
        <div class="modal-header">
          <h4>Add Study</h4>
        </div>
        <div class="modal-body">
          <input type="text" ng-model="newStudy.id" required>
          <h4>Treatments</h4>
          <div ng-repeat="treatment in analysis.treatments">
            <label class="checkbox inline">
              <input type="checkbox" ng-model="newStudy.treatments[treatment.id]">
              {{treatment.id}}
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
          <button class="btn btn-primary cancel" type="submit">Add Study</button>
        </div>
      </form>
    </div>
  </div>
</div>
