<tabs nav-type="tabbable tabs-left" item-type="nav nav-tabs">
<pane ng-repeat="pane in analyses" heading="{{pane.title}}" active="pane.active">
<analysis analysis="pane"></analysis>
</pane>
<pane heading="New analysis">
{{allowSubmission | json}}
<div class="row">
  <div class="span4 offset1">
    <h4>New Dataset</h4>
    <hr>
    <button type="submit" class="btn btn-primary" ng-click="createNew()">Create new dataset</button>
  </div>  
  <div class="span4">
    <h4>Upload a GeMTC file</h4>
    <hr>
    <form async-job="/api/analysis/network" class="span3" jobType="networkConvert" broadcast="networkUploaded">
      <fieldset>
        <input name="network[file]" type="file">
        <br><br>
        <button type="submit" class="btn btn-primary" ng-class="{false: 'disabled'}[allowSubmission]">Upload</button>
      </fieldset> 
    </form>
  </div>
</div>
</pane>
</tabs>

