<div class="row">
  <form enctype="multipart/form-data" async="/api/analysis/consistency" class="span3" ng-model="jobs">
    <fieldset>
      <legend>Upload a GeMTC file</legend>
      <label>File</label>
      <input name="network[file]" type="file">
      <br><br>
      <button type="submit" class="btn btn-primary">Upload</button>
    </fieldset> 
  </form>

  <div class="span7 offset2">
    <h3>Jobs</h3>
      <ul class="unstyled">
        <li ng-repeat="job in jobs" class="{{job.status}} well"> 
        <button type="button" class="close" ng-click="cancel(job.job)" tooltip="{{tooltip.cancel}}">&times;</button>
        <p>
        <strong>Job:</strong> {{job.job}}<br>
        <strong>Status:</strong> {{job.status}}<br>
        <strong>Created at:</strong> {{job.created.date}}<br>
        <span ng-show="job.completed.date"><strong>Finished at:</strong> {{job.completed.date}}<br></span>
        <span ng-show="job.queuePosition"><strong>Position in queue:</strong> {{job.queuePosition}}<br></span>
        <span ng-show="job.results"><strong>Results:</strong><a href="#/result/{{job.uuid}}">{{job.results}}</a></span></span>
        </li>
  </div>
</div>
