.completed { 
  background-color: rgb(223, 240, 216) !important;
  color: #468847;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.failed { 
  color: #B94A48;
  background-color: rgb(242, 222, 222) !important ;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.running { 
  color: #3A87AD;
  background-color: rgb(217, 237, 247) !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.canceled { 
  color: #C09853;
  background-color: rgb(252, 248, 227) !important;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
