<!doctype html>
<html lang="en" ng-app="cliniccio">
  <head>
    <meta charset="utf-8">
    <title>Cliniccio &mdash; a webservice for GeMTC </title>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/fineuploader-3.2.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
  </head>
  <body>
    <div class="container-fluid"> 
      <h1>Cliniccio</h1>


      <div ng-view></div>
      <div ng-controller="Analysis"> 
        <pre><li ng-repeat="a in analysis">{{ a }}</li></pre>
        <div ng-model="analysis" fine-uploader upload-destination="/api/mtc/analyze/file" upload-extensions="gemtc"></div>
      </div>
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
      <script src="//mgcrea.github.com/angular-strap/js/angular-strap.js"></script>
      <script src="lib/jquery.fineuploader-3.2.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/services.js"></script>
      <script src="js/controllers.js"></script>
      <script src="js/filters.js"></script>
      <script src="js/directives.js"></script>
    </div>
  </body>
</html>
